*{
    margin: 0;
    padding: 0;
    
}

/* Principal Nav */
.divMenu{
    display: flex;
    align-items: center;
}

.nave{
    width: 85.3%;
    height: 50px;
    position: absolute;
    left: 14.65%;
    border-bottom: 1.5px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.menu{
    margin-left: 40px;
    color: gray;   
}

.menuA{
    position: absolute;
    display: flex;
    text-decoration: none;
}

.home{
    color: gray;
    margin-bottom: 5px;
}

.dropA{
    position: absolute;
    right: 2%;
    display: flex ;
    text-decoration: none;
    border: none;
    background-color: white;
}

.admiDrop{
    color: gray;
    margin-bottom: 5px;
}

.drop{
    color: gray;
}


/* Inside */

.inside{
    width: 77%;
    height: 70.5px;;
    display: flex;
    position: absolute;
    margin-top: 4%;
    margin-left: 20%;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
}

.insideTwo{
    display: flex;
    align-items: center;
}

.hoDa{
    text-decoration: none;
    display: flex;
}

.pDa{
    color: gray;
    margin-left: 5px;
    margin-bottom: 0;
}

.rectangle{
    position: absolute;
    background-color: white;
    margin-top: 10%;
    margin-left: 20%;
    border: 1.5px solid gray;
    border-radius: 6px;
}

/* Footer */

.ftr{
    width: 85.3%;
    height: 35px;
    position: absolute;
    background-color: white;
    border-top: 1.5px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14.65%;
    bottom: 0%;
    
}

/* Side Bar*/
.sidebar{
    width: 200px;
    height: 100vh;
    background-color: rgb(90, 88, 88);
   
}

.logoDiv{
    height: 50px;
    text-align: center;
    align-items: center;
    border-bottom: 1.5px solid gray;
    
}

.logo{
    width: 40px;
    height: 40px;
    margin: 15px;

}

.uni{
    color: white;
    align-items: center;
    margin: 0;
}

.admin{
    width: 100%;
    border-bottom: 1.5px solid gray;
    color: white;
    
}

.options{
    list-style: none;
    color: white;
}

.icons{
    position: absolute;
    left: 15px;
    margin-left: 15px;
    color: white;
}


.optionsA{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}


/* Menu Toggle Styles */
.menuToggle{
    display: none;
    width: 150px;
    height: 90px;
    list-style: none;
    border: 1.5px solid gray;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 90%;
    right: 2%;

    z-index: 2;
}

.iconsTg{
    position: absolute;
    left: 15px;
    margin-right: 15px;
}

.optionsTg{
    text-decoration: none;

    z-index: 3;
}

.show{
    display: block;
    
}

.insideTwoContainer {
    transition: opacity 0.3s ease;
}

.hide {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}



